[Unit]
Description=EZiL bounded computer supervisor startup
After=network-online.target

[Service]
Type=exec
User=root
Group=root
UMask=0077
Environment=PATH=/usr/local/bin:/usr/bin:/bin
ExecStart=/usr/local/bin/node /opt/ezil-supervisor/current/dist/start-executor.js %i
StandardOutput=null
StandardError=null
RuntimeMaxSec=2min
TimeoutStopSec=100
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes
Restart=no
